PAYROLL_ENABLED=true
PAYROLL_AI_ENABLED=false
PAYROLL_WORKFLOW_ENABLED=true
PAYROLL_BILLING_ENABLED=false
PAYROLL_NOTIFICATIONS_ENABLED=true

PAYROLL_SEND_PAYSLIPS_TO_EMPLOYEES=true
PAYROLL_QUEUE_PAYSLIP_DELIVERY=true
